<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="config.xml">
        <add key="host" value="localhost" />
        <add key="database" value="ssc" />
        <add key="user" value="root" />
        <add key="password" value="root" />
        <add key="charset" value="utf8" />
        <add key="port" value="3306" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
</configuration>