<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10</key>
	<string>HF</string>
	<key>11</key>
	<string>HF</string>
	<key>12</key>
	<string>1</string>
	<key>13</key>
	<string>2</string>
	<key>14</key>
	<string>1</string>
	<key>15</key>
	<string>2</string>
	<key>16</key>
	<string>3</string>
	<key>17</key>
	<string>1</string>
	<key>18</key>
	<string>2</string>
	<key>19</key>
	<string>3</string>
	<key>20</key>
	<string>4</string>
	<key>21</key>
	<string>5</string>
	<key>22</key>
	<string>1</string>
	<key>23</key>
	<string>2</string>
	<key>24</key>
	<string>3</string>
	<key>25</key>
	<string>4</string>
	<key>26</key>
	<string>5</string>
	<key>27</key>
	<string>HF</string>
	<key>3</key>
	<string>HF</string>
	<key>38</key>
	<string>HF</string>
</dict>
</plist>
